@font-face {
  font-family: Okine;
  src: url(../fuentes/okine.ttf);
}
@font-face {
  font-family: ESPN;
  src: url(../fuentes/espn.ttf);
}
a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.contenedor {
  display: grid;
  grid-template-areas: none;
}

.imgChica {
  width: 140px;
  height: 100px;
  margin-left: 10px;
}

.galeriaFlex {
  width: 100%;
  height: 100%;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagenFlex {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
}

.fotoGaleria {
  border-radius: 1rem;
  padding: 0.4rem;
  width: 300px;
  height: 500px;
  transition: height 0.3s, width 0.3s;
}

.fotoGaleria:hover {
  filter: grayscale(90%);
  width: 310px;
  height: 510px;
}

a {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-container {
  text-align: right;
  background-color: #1e35d8;
  padding: 10px;
  font-size: 18px;
}
.navbar-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.navbar-container ul li {
  display: inline-block;
  font-family: Okine;
  font-size: 18px;
}
.navbar-container ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}
.navbar-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}
.navbar-container ul li:hover .underline {
  background-color: white;
  width: 100%;
}

h1 {
  margin-left: 10px;
}

h2 {
  color: gray;
  margin-left: 10px;
}

p {
  color: black;
}

main {
  background-color: white;
}

header {
  width: 100%;
  height: 100%;
  text-align: center;
  grid-area: header;
}

.footer-container {
  text-align: center;
  background-color: #1e35d8;
  padding: 10px;
  font-size: 18px;
}
.footer-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.footer-container ul li {
  display: inline-block;
  font-family: Okine;
  font-size: 18px;
}
.footer-container ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}
.footer-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}
.footer-container ul li:hover .underline {
  background-color: white;
  width: 100%;
}

.headerInicio {
  background: url(../multimedia/portada1.jpg) no-repeat;
  position: relative;
  width: 100%;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.portada {
  width: 100%;
}

.headerTienda {
  background: url(../multimedia/portada2.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerCanchas {
  background: url(../multimedia/portada3.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerTop10 {
  background: url(../multimedia/portada4.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerTutoriales {
  background: url(../multimedia/portada5.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerProximoseventos {
  background: url(../multimedia/portada6.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerGaleria {
  background: url(../multimedia/portada8.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

.headerContacto {
  background: url(../multimedia/portada7.jpg) no-repeat;
  position: relative;
  width: 1280px;
  height: 720px;
  background-position: 0px;
  margin: auto;
}

@font-face {
  font-family: Okine;
  src: url(../fuentes/okine.ttf);
}
@font-face {
  font-family: ESPN;
  src: url(../fuentes/espn.ttf);
}
.tituloPrincipal {
  font-family: ESPN;
  font-weight: 100px;
}

.titulo2 {
  font-family: ESPN;
  font-weight: 80px;
}

.parrafo {
  color: black;
  font-family: Okine;
  font-size: 16px;
  margin-left: 10px;
}

.whatsapp {
  display: scroll;
  position: fixed;
  bottom: 80px;
  right: 0px;
  height: 80px;
  width: 160px;
}

footer p {
  font-family: Okine;
  color: white;
  font-weight: 80px;
}

.centrado {
  font-family: Okine;
  font-weight: 80px;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  font-family: Okine;
  text-align: left;
  color: white;
  font-size: 30px;
}

.fotoGaleria:hover {
  filter: grayscale(90%);
}

.formulario {
  text-align: center;
  font-family: Okine;
}

table {
  text-align: center;
}

i {
  font-size: 40px;
  margin-right: 10px;
}

/*# sourceMappingURL=estilo.css.map */
