  a {
      text-decoration: none;
      margin-left: 15px;
      margin-right: 15px;
  }



  h1 {
    color: black;
    margin-left: 10px;
  }
  
  h2 {
      color: gray;
      margin-left: 10px;
  }

  p {
      color: black;
  }

  main {
      background-color: white;
  }

  header {
      width: 100%;
      height: 100%;
      text-align: center;
      grid-area: header;
  }

  .portada {
    position: relative;
    width: 100%;
    height: 500px;
    background-position: 0px;
    margin: auto;
}

  @font-face {
      font-family: Okine;
      src: url(../fuentes/okine.ttf);
  }

  @font-face {
      font-family: ESPN;
      src: url(../fuentes/espn.ttf);
  }

  .tituloPrincipal {
      font-family: ESPN;
      font-weight: 100px;
  }

  .titulo2 {
      font-family: ESPN;
      font-weight: 80px;
  }

  .parrafo {
      color: black;
      font-family: Okine;
      font-size: 16px;
      margin-left: 10px;
  }

  .whatsapp {
      display: scroll;
      position: fixed;
      bottom: 80px;
      right: 200px;
      height: 20px;
      width: 0px;
  }

  footer p {
      font-family: Okine;
      color: white;
      font-weight: 80px;
  }

  .centrado {
      font-family: Okine;
      font-weight: 80px;
      background-color: black;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .container-fluid {
    font-family: Okine;
    text-align: left;
    color: white;
    font-size: 30px;
  }

  .fotoGaleria:hover {
      filter: grayscale(90%);
  }

  .formulario {
    text-align: center;
    font-family: Okine;
    padding-bottom: 10px;
  }

table {
    text-align: center;
}

i {
    font-size: 40px;
    margin-right: 10px;
}

.botonEnviar {
    background-color: #1e35d8;
    font-family: Okine;
    color: white;
}






.sponsors {
	align-items: center;
	display: grid;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position:-ms-page;
	max-width: 100%;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 200px;
	}
}








 
  
  .tabla2{
    margin-top: 2em;
    margin-left: 1em;
    width: 50%;
  }
  
  .tabla2 th, .tabla2 td{
    text-align: center;
    padding: .2em .5em;
    border: 1px solid black;
  }
  
  .tabla2 caption{
    text-align: left;
    margin-bottom: 5px;
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 5px;
  }
  
  .tabla2 td{
    text-align: left;
    font-size: .6em;
    padding-bottom: 3em;
    padding-right: 3em;
  }
  
  .tabla2 td:hover{
    background-color: white;
    cursor: pointer;
    font-size: 1.6em;
    text-align: center;
    padding: 0;
  }







  body{
    overflow-x: hidden;
 }